<!DOCTYPE html>
<html>
  <head>
    <title>Momento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class='mdl-grid'>
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
          <%= yield %>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
     </div>
  </body>
</html>
